:root {
    --primary-bg-color: #2f27ce;
    --secondary-bg-color: #31357a;
    --primary-text-color: #050315;
    --secondary-text-color: #f1faee;
}

html {
    height: 100%;
    color: var(--primary-text-color);
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
}

div {
    width: 30%;
    height: 30em;
    display: flex;
    flex-flow: nowrap column;
    gap: 2em;
}

h2, h3 {
    margin-top: 5em;
    height: 20%;
}

p {
    margin: 0;
}

img#telephone {
    position: absolute;
    left: 90%;
    width: 20cqb;
}
