:root {
    --navbar-bg-color: #b7baea;
    --navbar-hover-color: #a8adea;
    --navbar-border-color: #232323;
}

nav > ul {
    display: flex;
    justify-content: center;
    background-color: var(--navbar-bg-color);
    border-bottom: 2px solid var(--navbar-border-color);
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

nav li {
    text-decoration: none;
    border-left: 1px solid var(--navbar-border-color);
    padding: 1em 0 1em 0;
}
nav li#last {
    border-right: 1px solid var(--navbar-border-color);
}
nav li:hover {
    background-color: var(--navbar-hover-color);
}
a {
    color: var(--primary-text-color);
}

nav a {
    text-decoration: none;
    padding: 17px 32px 17px 32px;
    font-size: 16px;
}

span#lien_accueil {
    position: absolute;
}
span#lien_accueil > a {
    position: absolute;
    left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 7px 10px 7px 10px;
}